:root {
    --text-color: mediumaquamarine;
    --button-color: mediumaquamarine;
}

body {
    background-color:black;
    color:var(--text-color);
    font-family:monospace;
}

.title {
    text-align:center;
    font-size:25px;
    color:var(--button-color);
    text-decoration:underline;
    text-transform:uppercase;
}

.narrative {
    padding:2em;
    font-size:15px;
    text-indent: 5px;
}

.custom-button {
    width:20em;
    height:5%;
    font-family:monospace;
    border:outset var(--button-color);
    color:var(--button-color);
    text-align:center;
    margin:0.5em;
    padding:1em;
    font-weight:bold;
    display:inline-block;
}

.custom-button.disabled {
    display:none;
    color:darkgray;
    border:solid lightgray;
}

.custom-button:hover {
    cursor:pointer;
    border:inset;
}

.custom-button.disabled:hover {
    display:none;
    background-color:lightgray;
    cursor:not-allowed;
    border:solid lightgray;
}

.card {
    width:100%;
}

.button-pad {
    width:100%;
    text-align:center;
    margin:auto;
}

.error-message {
    font-size:20px;
    text-align:center;
    padding-top:5em;
    margin:auto;
}